* {
  font-family: system-ui, sans-serif;
}

:root {
  --primary-color: #322d29;
  --secondary-color: #ffff;
  --secondary-text: #efe9e1;
  --primary-text: #322d28;
  --tag-bg: #ffefd5;
  --background-color: #b38b6d;
  --answer-text: #b38b6d;
}

*::before,
*::after {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

/* Main Elements Styling */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: system-ui, sans-serif;
  background: var(--background-color);
}

.dark {
  background-color: #333;
  color: #eee;
}

.header {
  position: top;
  top: 0;
  background: var(--tag-bg);
  color: var(--primary-text);
  justify-content: center;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  width: 50%;
  margin: auto;
  font-size: smaller;
}

.quiz {
  max-width: 600px;
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 25px;
}

/* Question Card Styling */

.quiz__card {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.quiz__question {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
}

.tagLabel {
  font-size: 0.6em;
  background-color: var(--tag-bg);
  padding: 5px;
  display: inline-block;
  border-radius: 15px;
}

/* Bookmark */

.bookmark {
  display: flex;
  justify-content: flex-end;
  top: -15px;
  right: -15px;
}

.bookmark svg:hover {
  cursor: pointer;
  fill: var(--tag-bg);
  stroke: #000000;
}

.bookmark-icon {
  fill: none;
  stroke: var(--primary-color);
  transition: fill 0.3s, stroke 0.3s;
}

.bookmarked {
  fill: #000000;
  stroke: #000000;
}

/* Button Styling */
.show-answer-btn {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  color: var(--primary-text);
  background-color: var(--tag-bg);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.quiz__button:hover {
  background-color: var(--background-color);
}

/* Answer Styling */

.quiz__answer {
  display: none;
  font-size: 0.9em;
  color: var(--primary-text);
  margin-top: 20px;
  font-weight: bold;
}

.quiz__answer--active {
  display: block;
}

/* Footer Navigation */

footer {
  align-items: center;
  background-color: var(--tag-bg);
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navigation__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navigation__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.navigation__list-item svg:hover {
  cursor: pointer;
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.navigation__list-item--active {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}
/* Profile */

.profile__card {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: left;
}

/* Form */

.form-section {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: left;
  font-size: smaller;
}

.add-card {
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  justify-content: left;
  border: none;
}

.add-your-question {
  display: flex;
  flex-direction: column;
  border: ;
}

.answer-to-your-question {
  display: flex;
  flex-direction: column;
  border: ;
  display: none;
  font-size: 0.9em;
  color: var(--primary-text);
  margin-top: 20px;
  font-weight: bold;
}

.answer-to-your-question--active {
  display: block;
}

.corresponding-tag {
  display: flex;
  flex-direction: column;
  border: ;
}

.submit-question {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  color: var(--primary-text);
  background-color: var(--tag-bg);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.charCounter {
  font-size: 0.5em;
  color: #555;
  margin-top: 5px;
}

/* Media */

@media (min-width: 800px) {
  body {
    font-size: 18px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
    padding: 30px;
  }
}
